@font-face {
    font-family: varela-round-regular;
    src: url(./fonts/varelaround-regular-webfont.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --varela-round-regular: varela-round-regular;
    --header-font-color: #b0e4db;
    --header-bg-color: #4c5c68;
    --body-bg-color: #c5c3c6;
    --player-info-font-color: #46494b;
}

body {
    background-color: var(--body-bg-color);
    font-family: var(--varela-round-regular);
}


header {
    font-size: 3.5rem;
    padding: 0.3em;
    text-align: center;
    background-color: var(--header-bg-color);
    color: var(--header-font-color);
}


.players-info-container {
    font-size: 2rem;
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
    grid-template-areas: ". info1 info2 .";
    gap: 3em;
    padding: 1em 0;
    color: var(--player-info-font-color);
}

.player-info {
    display: flex;
    gap: 0.5em;
    padding-bottom: 4px;
}

.player-info.player-to-play {
    border-bottom: 2px solid var(--player-info-font-color);
}

.player-info:first-child {
    grid-area: info1;
}

.player-info:last-child {
    grid-area: info2;
}

.players-info-container div[class*="score"] {
    font-weight: bold;
}

.cells-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: ". grid .";
}

.cells-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    border: 1px solid var(--header-bg-color);
    grid-area: grid;
}

.cell {
    font-size: 8rem;
    height: auto;
    aspect-ratio: 1;
    background-color: white;
    border: 1px solid var(--header-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}