@font-face {
    font-family: varela-round-regular;
    src: url(./fonts/varelaround-regular-webfont.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --varela-round-regular: varela-round-regular;
    --header-font-color: #b0e4db;
    --header-bg-color: #4c5c68;
    --body-bg-color: #c5c3c6;
    --player-info-font-color: #46494b;
    --finished-cell-bg-color: rgb(232, 232, 232);
    --restart-button-padding: 0.5em 1em;
    --restart-button-margin-top: 1.25em;
    --restart-button-font-size: 1.5rem;
    --restart-button-border-radius: 8px;
}

body {
    background-color: var(--body-bg-color);
    font-family: var(--varela-round-regular);
}


header {
    font-size: 2.5rem;
    padding: 0.3em;
    text-align: center;
    background-color: var(--header-bg-color);
    color: var(--header-font-color);
}


.players-info-container {
    font-size: 2rem;
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
    grid-template-areas: ". info1 info2 .";
    gap: 3em;
    padding: 0.75em;
    color: var(--player-info-font-color);
}

.player-info {
    display: flex;
    gap: 0.5em;
    padding-bottom: 4px;
}

.player-info.player-to-play {
    border-bottom: 2px solid var(--player-info-font-color);
}

.player-info:first-child {
    grid-area: info1;
}

.player-info:last-child {
    grid-area: info2;
}

.players-info-container div[class*="score"] {
    font-weight: bold;
}

.cells-grid-container {
    display: grid;
    grid-template-columns: 1fr 350px 1fr;
    grid-template-areas: ". grid .";
}

.cells-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    height: auto;
    aspect-ratio: 1;
    border: 1px solid var(--header-bg-color);
    grid-area: grid;
}

.cell {
    font-size: 7rem;
    height: auto;
    aspect-ratio: 1;
    background-color: white;
    border: 1px solid var(--header-bg-color);
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell.finished:not(.winner) {
    background-color: var(--finished-cell-bg-color);
    opacity: 50%;
}

.cell.winner {
    background-color: greenyellow;
}

.cell:not(.occupied):not(.finished):hover {
    background-color: var(--header-font-color);
    color: rgb(0 0 0 /30%);
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}


main {
    display: grid;
    align-items: start;
    align-content: start;
}

button.restart {
    justify-self: center;
    background-color: var(--header-bg-color);
    color: var(--header-font-color);
    font-family: var(--varela-round-regular);
    padding: var(--restart-button-padding);
    margin-top: var(--restart-button-margin-top);
    font-size: var(--restart-button-font-size);
    border-radius: var(--restart-button-border-radius);
    border: none;
    cursor: pointer;
}

button.restart:hover {
    background-color: #434c52;
}

button.restart:active {
    background-color: #292f33;
}


footer {
    justify-self: center;
    padding-top: 4em;
    padding-bottom: 0.5em;
}